flask
flask_restful
SQLAlchemy
Flask-SQLAlchemy
Flask-Cors
marshmallow
marshmallow-sqlalchemy 
flask-marshmallow
mysql-connector-python
PyMySQL
cryptography
flask_testing
flask-migrate
Flask-JWT
Werkzeug
Flask-Mail
StringGenerator
Cerberus
python-dotenv